In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from make_df import make_df_from_spreadsheet
from rectangle_model import *

In [16]:
df = pd.read_csv("exp1_data_clean.csv")

In [17]:
df.head(15)

            worker  problem  example  row  col
0   A28AXX4NCWPH1F       37        1    1    6
1   A28AXX4NCWPH1F       37        2    1    1
2   A28AXX4NCWPH1F       37        3    6    1
3   A28AXX4NCWPH1F       37        4    6    6
4   A28AXX4NCWPH1F       24        1    1    3
5   A28AXX4NCWPH1F       24        2    6    3
6   A28AXX4NCWPH1F       24        3    3    2
7   A28AXX4NCWPH1F       24        4    3    5
8   A28AXX4NCWPH1F       11        1    2    3
9   A28AXX4NCWPH1F       11        2    6    1
10  A28AXX4NCWPH1F       11        3    6    6
11  A28AXX4NCWPH1F       11        4    2    4
12  A28AXX4NCWPH1F        5        1    5    1
13  A28AXX4NCWPH1F        5        2    5    6
14  A28AXX4NCWPH1F        2        1    1    2

Change to zero indexing

In [18]:
cols_to_change = df.columns[1:]
for c in cols_to_change: 
    df[c] = df[c] - 1

In [34]:
df['coords'] = list(zip(df['row'], df['col']))

In [40]:
df

              worker  problem  example  row  col  coords
0     A28AXX4NCWPH1F       36        0    0    5  (0, 5)
1     A28AXX4NCWPH1F       36        1    0    0  (0, 0)
2     A28AXX4NCWPH1F       36        2    5    0  (5, 0)
3     A28AXX4NCWPH1F       36        3    5    5  (5, 5)
4     A28AXX4NCWPH1F       23        0    0    2  (0, 2)
...              ...      ...      ...  ...  ...     ...
2582  A3HNEYFOIJWPH1       21        1    4    3  (4, 3)
2583  A3HNEYFOIJWPH1        0        0    2    0  (2, 0)
2584  A3HNEYFOIJWPH1        0        1    3    0  (3, 0)
2585  A3HNEYFOIJWPH1        0        2    2    5  (2, 5)
2586  A3HNEYFOIJWPH1        0        3    3    5  (3, 5)

[2587 rows x 6 columns]

In [37]:
# Convert to new coords system

def flatten_coords(coords): 
    """input is coords as a tuple, output is 0 to 36 index for coords"""
    return 6*coords[0] + coords[1]

In [43]:
df['coords_idx'] = df['coords'].apply(flatten_coords)
df

In [45]:
df

              worker  problem  example  row  col  coords  coords_idx
0     A28AXX4NCWPH1F       36        0    0    5  (0, 5)           5
1     A28AXX4NCWPH1F       36        1    0    0  (0, 0)           0
2     A28AXX4NCWPH1F       36        2    5    0  (5, 0)          30
3     A28AXX4NCWPH1F       36        3    5    5  (5, 5)          35
4     A28AXX4NCWPH1F       23        0    0    2  (0, 2)           2
...              ...      ...      ...  ...  ...     ...         ...
2582  A3HNEYFOIJWPH1       21        1    4    3  (4, 3)          27
2583  A3HNEYFOIJWPH1        0        0    2    0  (2, 0)          12
2584  A3HNEYFOIJWPH1        0        1    3    0  (3, 0)          18
2585  A3HNEYFOIJWPH1        0        2    2    5  (2, 5)          17
2586  A3HNEYFOIJWPH1        0        3    3    5  (3, 5)          23

[2587 rows x 7 columns]

In [65]:
new_df = df.groupby(['worker', 'problem'])['coords_idx'].apply(tuple).reset_index()

new_df.head(20)

Add model predictions

In [73]:
filename = 'teaching_stimuli - all_examples (9).csv'
all_problems = make_df_from_spreadsheet(filename)

In [75]:
# Calculate model predictions for our problems

# Add a column for old problem indices ...
old_prob_indices = [43, 47, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65] + [i for i in range(66, 94)] 
new_df['old_prob_idx'] = new_df['problem'].apply(lambda x : old_prob_indices[x])

In [76]:
new_df

,worker,problem,example,row,col,coords,coords_idx,old_prob_idx
0,A28AXX4NCWPH1F,36,0,0,5,"(0, 5)",5,90
1,A28AXX4NCWPH1F,36,1,0,0,"(0, 0)",0,90
2,A28AXX4NCWPH1F,36,2,5,0,"(5, 0)",30,90
3,A28AXX4NCWPH1F,36,3,5,5,"(5, 5)",35,90
4,A28AXX4NCWPH1F,23,0,0,2,"(0, 2)",2,77
...,...,...,...,...,...,...,...,...
2582,A3HNEYFOIJWPH1,21,1,4,3,"(4, 3)",27,75
2583,A3HNEYFOIJWPH1,0,0,2,0,"(2, 0)",12,43
2584,A3HNEYFOIJWPH1,0,1,3,0,"(3, 0)",18,43
2585,A3HNEYFOIJWPH1,0,2,2,5,"(2, 5)",17,43
2586,A3HNEYFOIJWPH1,0,3,3,5,"(3, 5)",23,43

In [77]:
# loop over old prob index and create dataframes for model predictions for each 
model_preds = {}

for idx in old_prob_indices: 
    model_preds[idx] = {}
    model_preds[idx]['lit'] = find_teacher_probs(0, idx, all_problems)
    model_preds[idx]['prag'] = find_teacher_probs(250, idx, all_problems)

KeyboardInterrupt:

In [78]:
model_preds

{43: {'lit': {'n_iter': 0,
   'problem_index': 43,
   1: {'d':          h_1       h_2       h_3       h_4
    0   0.000000  0.153846  0.000000  0.000000
    1   0.000000  0.153846  0.000000  0.000000
    2   0.045455  0.076923  0.000000  0.000000
    3   0.045455  0.000000  0.076923  0.000000
    4   0.000000  0.000000  0.153846  0.000000
    5   0.000000  0.000000  0.153846  0.000000
    6   0.000000  0.153846  0.000000  0.000000
    7   0.045455  0.076923  0.000000  0.000000
    8   0.045455  0.076923  0.000000  0.000000
    9   0.045455  0.000000  0.076923  0.000000
    10  0.045455  0.000000  0.076923  0.000000
    11  0.000000  0.000000  0.153846  0.000000
    12  0.045455  0.076923  0.000000  0.000000
    13  0.045455  0.076923  0.000000  0.000000
    14  0.022727  0.038462  0.038462  0.020833
    15  0.022727  0.038462  0.038462  0.020833
    16  0.045455  0.000000  0.076923  0.000000
    17  0.045455  0.000000  0.076923  0.000000
    18  0.045455  0.000000  0.000000  0.041667
    19  0.045455  0.000000  0.000000  0.041667
    20  0.022727  0.038462  0.038462  0.020833
    21  0.022727  0.038462  0.038462  0.020833
    22  0.045455  0.000000  0.000000  0.041667
    23  0.045455  0.000000  0.000000  0.041667
    24  0.000000  0.000000  0.000000  0.083333
    25  0.045455  0.000000  0.000000  0.041667
    26  0.045455  0.000000  0.000000  0.041667
    27  0.045455  0.000000  0.000000  0.041667
    28  0.045455  0.000000  0.000000  0.041667
    29  0.000000  0.000000  0.000000  0.083333
    30  0.000000  0.000000  0.000000  0.083333
    31  0.000000  0.000000  0.000000  0.083333
    32  0.045455  0.000000  0.000000  0.041667
    33  0.045455  0.000000  0.000000  0.041667
    34  0.000000  0.000000  0.000000  0.083333
    35  0.000000  0.000000  0.000000  0.083333,
    'h':      h_1   h_2   h_3   h_4
    0   0.00  1.00  0.00  0.00
    1   0.00  1.00  0.00  0.00
    2   0.50  0.50  0.00  0.00
    3   0.50  0.00  0.50  0.00
    4   0.00  0.00  1.00  0.00
    5   0.00  0.00  1.00  0.00
    6   0.00  1.00  0.00  0.00
    7   0.50  0.50  0.00  0.00
    8   0.50  0.50  0.00  0.00
    9   0.50  0.00  0.50  0.00
    10  0.50  0.00  0.50  0.00
    11  0.00  0.00  1.00  0.00
    12  0.50  0.50  0.00  0.00
    13  0.50  0.50  0.00  0.00
    14  0.25  0.25  0.25  0.25
    15  0.25  0.25  0.25  0.25
    16  0.50  0.00  0.50  0.00
    17  0.50  0.00  0.50  0.00
    18  0.50  0.00  0.00  0.50
    19  0.50  0.00  0.00  0.50
    20  0.25  0.25  0.25  0.25
    21  0.25  0.25  0.25  0.25
    22  0.50  0.00  0.00  0.50
    23  0.50  0.00  0.00  0.50
    24  0.00  0.00  0.00  1.00
    25  0.50  0.00  0.00  0.50
    26  0.50  0.00  0.00  0.50
    27  0.50  0.00  0.00  0.50
    28  0.50  0.00  0.00  0.50
    29  0.00  0.00  0.00  1.00
    30  0.00  0.00  0.00  1.00
    31  0.00  0.00  0.00  1.00
    32  0.50  0.00  0.00  0.50
    33  0.50  0.00  0.00  0.50
    34  0.00  0.00  0.00  1.00
    35  0.00  0.00  0.00  1.00},
   2: {'d':          h_1       h_2  h_3       h_4
    i_1 i_2
    0   1    0.0  0.021505  0.0  0.000000
        2    0.0  0.021505  0.0  0.000000
        3    0.0  0.000000  0.0  0.000000
        4    0.0  0.000000  0.0  0.000000
        5    0.0  0.000000  0.0  0.000000
    ...      ...       ...  ...       ...
    32  34   0.0  0.000000  0.0  0.006993
        35   0.0  0.000000  0.0  0.006993
    33  34   0.0  0.000000  0.0  0.006993
        35   0.0  0.000000  0.0  0.006993
    34  35   0.0  0.000000  0.0  0.006993

    [630 rows x 4 columns],
    'h':          h_1  h_2  h_3  h_4
    i_1 i_2
    0   1    0.0  1.0  0.0  0.0
        2    0.0  1.0  0.0  0.0
        3    0.0  0.0  0.0  0.0
        4    0.0  0.0  0.0  0.0
        5    0.0  0.0  0.0  0.0
    ...      ...  ...  ...  ...
    32  34   0.0  0.0  0.0  1.0
        35   0.0  0.0  0.0  1.0
    33  34   0.0  0.0  0.0  1.0
        35   0.0  0.0  0.0  1.0
    34  35   0.0  0.0  0.0  1.0

    [630 rows x 4 columns]},
   3: {'d':              h_1      h_2  h_3       h_4
    i_1 i_2 i_3
    0   1   2    0.0  0.00565  0.0  0.000000
            3    0.0  0.00000  0.0  0.000000
            4    0.0  0.00000  0.0  0.000000
            5    0.0  0.00000  0.0  0.000000
            6    0.0  0.00565  0.0  0.000000
    ...          ...      ...  ...       ...
    31  34  35   0.0  0.00000  0.0  0.001045
    32  33  34   0.0  0.00000  0.0  0.001045
            35   0.0  0.00000  0.0  0.001045
        34  35   0.0  0.00000  0.0  0.001045
    33  34  35   0.0  0.00000  0.0  0.001045

    [7140 rows x 4 columns],
    'h':              h_1  h_2  h_3  h_4
    i_1 i_2 i_3
    0   1   2    0.0  1.0  0.0  0.0
            3    0.0  0.0  0.0  0.0
            4    0.0  0.0  0.0  0.0
            5    0.0  0.0  0.0  0.0
            6    0.0  1.0  0.0  0.0
    ...          ...  ...  ...  ...
    31  34  35   0.0  0.0  0.0  1.0
    32  33  34   0.0  0.0  0.0  1.0
            35   0.0  0.0  0.0  1.0
        34  35   0.0  0.0  0.0  1.0
    33  34  35   0.0  0.0  0.0  1.0

    [7140 rows x 4 columns]},
   4: {'d':                  h_1       h_2  h_3      h_4
    i_1 i_2 i_3 i_4
    0   1   2   3    0.0  0.000000  0.0  0.00000
                4    0.0  0.000000  0.0  0.00000
                5    0.0  0.000000  0.0  0.00000
                6    0.0  0.002316  0.0  0.00000
                7    0.0  0.002316  0.0  0.00000
    ...              ...       ...  ...      ...
    31  32  33  34   0.0  0.000000  0.0  0.00023
                35   0.0  0.000000  0.0  0.00023
            34  35   0.0  0.000000  0.0  0.00023
        33  34  35   0.0  0.000000  0.0  0.00023
    32  33  34  35   0.0  0.000000  0.0  0.00023

    [58905 rows x 4 columns],
    'h':                  h_1  h_2  h_3  h_4
    i_1 i_2 i_3 i_4
    0   1   2   3    0.0  0.0  0.0  0.0
                4    0.0  0.0  0.0  0.0
                5    0.0  0.0  0.0  0.0
                6    0.0  1.0  0.0  0.0
                7    0.0  1.0  0.0  0.0
    ...              ...  ...  ...  ...
    31  32  33  34   0.0  0.0  0.0  1.0
                35   0.0  0.0  0.0  1.0
            34  35   0.0  0.0  0.0  1.0
        33  34  35   0.0  0.0  0.0  1.0
    32  33  34  35   0.0  0.0  0.0  1.0

    [58905 rows x 4 columns]},
   5: {'d':                      h_1  h_2  h_3       h_4
    i_1 i_2 i_3 i_4 i_5
    0   1   2   3   4    0.0  0.0  0.0  0.000000
                    5    0.0  0.0  0.0  0.000000
                    6    0.0  0.0  0.0  0.000000
                    7    0.0  0.0  0.0  0.000000
                    8    0.0  0.0  0.0  0.000000
    ...                  ...  ...  ...       ...
    30  31  32  33  35   0.0  0.0  0.0  0.000069
                34  35   0.0  0.0  0.0  0.000069
            33  34  35   0.0  0.0  0.0  0.000069
        32  33  34  35   0.0  0.0  0.0  0.000069
    31  32  33  34  35   0.0  0.0  0.0  0.000069

    [376992 rows x 4 columns],
    'h':                      h_1  h_2  h_3  h_4
    i_1 i_2 i_3 i_4 i_5
    0   1   2   3   4    0.0  0.0  0.0  0.0
                    5    0.0  0.0  0.0  0.0
                    6    0.0  0.0  0.0  0.0
                    7    0.0  0.0  0.0  0.0
                    8    0.0  0.0  0.0  0.0
    ...                  ...  ...  ...  ...
    30  31  32  33  35   0.0  0.0  0.0  1.0
                34  35   0.0  0.0  0.0  1.0
            33  34  35   0.0  0.0  0.0  1.0
        32  33  34  35   0.0  0.0  0.0  1.0
    31  32  33  34  35   0.0  0.0  0.0  1.0

    [376992 rows x 4 columns]},
   6: {'d':                          h_1  h_2  h_3       h_4
    i_1 i_2 i_3 i_4 i_5 i_6
    0   1   2   3   4   5    0.0  0.0  0.0  0.000000
                        6    0.0  0.0  0.0  0.000000
                        7    0.0  0.0  0.0  0.000000
                        8    0.0  0.0  0.0  0.000000
                        9    0.0  0.0  0.0  0.000000
    ...                      ...  ...  ...       ...
    29  30  31  32  34  35   0.0  0.0  0.0  0.000027
                33  34  35   0.0  0.0  0.0  0.000027
            32  33  34  35   0.0  0.0  0.0  0.000027
        31  32  33  34  35   0.0  0.0  0.0  0.000027
    30  31  32  33  34  35   0.0  0.0  0.0  0.000027

    [1947792 rows x 4 columns],
    'h':                          h_1  h_2  h_3  h_4
    i_1 i_2 i_3 i_4 i_5 i_6
    0   1   2   3   4   5    0.0  0.0  0.0  0.0
                        6    0.0  0.0  0.0  0.0
                        7    0.0  0.0  0.0  0.0
                        8    0.0  0.0  0.0  0.0
                        9    0.0  0.0  0.0  0.0
    ...                      ...  ...  ...  ...
    29  30  31  32  34  35   0.0  0.0  0.0  1.0
                33  34  35   0.0  0.0  0.0  1.0
            32  33  34  35   0.0  0.0  0.0  1.0
        31  32  33  34  35   0.0  0.0  0.0  1.0
    30  31  32  33  34  35   0.0  0.0  0.0  1.0

    [1947792 rows x 4 columns]}}}}

### adlsfkjaldfk

In [60]:
#temp_df[temp_df.index[0]]
temp_df.loc[('A28AXX4NCWPH1F', 36)][:]

<ipython-input-60-79700faa422c>:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  temp_df.loc[('A28AXX4NCWPH1F', 36)][:]

                        example  row  col  coords  coords_idx
worker         problem
A28AXX4NCWPH1F 36             0    0    5  (0, 5)           5
               36             1    0    0  (0, 0)           0
               36             2    5    0  (5, 0)          30
               36             3    5    5  (5, 5)          35

In [30]:
df.set_index('problem')

                 worker  example  row  col
problem
36       A28AXX4NCWPH1F        0    0    5
36       A28AXX4NCWPH1F        1    0    0
36       A28AXX4NCWPH1F        2    5    0
36       A28AXX4NCWPH1F        3    5    5
23       A28AXX4NCWPH1F        0    0    2
...                 ...      ...  ...  ...
21       A3HNEYFOIJWPH1        1    4    3
0        A3HNEYFOIJWPH1        0    2    0
0        A3HNEYFOIJWPH1        1    3    0
0        A3HNEYFOIJWPH1        2    2    5
0        A3HNEYFOIJWPH1        3    3    5

[2587 rows x 4 columns]

loop over unique problems